Python program to insert a new column in existing DataFrame.

In [1]:
'''
@Author: Pavan Nakate
@Date: 2021-11-18 09:05
@Last Modified by: Pavan Nakate
@Last Modified time: None
@Title : InsertNewcolumn  
'''
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    data_frame = pd.DataFrame(exam_data , index=labels)
    print(data_frame,"\n")
    
    data_frame.insert(4, "contry", ['UAE', 'UK', 'USA', 'UK', 'USA', 'UAE', 'UK', 'USA','UAE', 'USA'], True)
    print("\nAfter adding gender column:\n",data_frame)

except Exception as e:
    print(e)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes


After adding gender column:
         name  score  attempts qualify contry
a  Anastasia   12.5         1     yes    UAE
b       Dima    9.0         3      no     UK
c  Katherine   16.5         2     yes    USA
d      James    NaN         3      no     UK
e      Emily    9.0         2      no    USA
f    Michael   20.0         3     yes    UAE
g    Matthew   14.5         1     yes     UK
h      Laura    NaN         1      no    USA
i      Kevin    8.0         2      no    UAE
j      Jonas   19.0         1     yes    USA